
.center-list {
    width: fit-content;
    margin: 0 auto; 
    text-align: left; 
}
header {
padding: 0;
margin:0;
width: 100%;
background: #8d4b55 ;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
footer {
margin: 0;
width: 100%;
background: #8d4b55 ;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 0;
    border: 3px solid #8d4b55;
}
.profile-icone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px 20px;
    border: 1px solid #ffffff;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6a3039, #dad3d3);
    color: white;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
